
/* Селектори класу */
.centered{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-40%, -50%);
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }


.carousel-img {
    -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
    filter: brightness(50%);
}

/* Універсальний слектор */
*.btn {
    border-radius: 20px;
}

.site-logo {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    line-height: 40px;
}

.navbar-nav {
    margin-left: 50px;
}

.navbar-dark, .navbar-nav, .nav-link {
    color: rgba(255,255,255)
}

.popular-books-text {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;

}


.card {
    width: 21.6%;
    float: left;
    margin-right: 48px;
    border-radius: 8px;
    background: rgb(236, 236, 178);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
}

@media(max-width: 1200px){
    .card {
        width: 21.1%;
    }
}
@media(max-width: 992px){
    .card {
        width: 43.1%;
    }
}

@media(max-width: 768px){
    .card {
        width: 40%;
        margin-bottom: 20px;
    }
}

@media(max-width: 576px){
    .card {
        width: 70%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #card4{
        margin-right: auto !important;
    }
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    margin: 0;
    border-radius: 2px;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);
}

.card-img-inner {
    padding: 10px 10px 0 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    text-align: center;
}



/* Ідентифікатор */
#old-price {
    font-size: 1.3rem;
    font-weight: 100;
    color: #6c757d;
}

/* Сусідні селектори */
s + span {
    color: red;
}

/* Дочірні селектори */
p > em {
    font-weight: 500;
}

/* Селектор тегу */
svg {
    margin-bottom: 4px;
}

footer {
    margin-top: 100px;
    width: 98.5%;
    background-color:  rgb(236, 236, 178);
}

/* Списки */
li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
}
/*Групові селектори */
p, h4 {
    font-family: "Montserrat", sans-serif;
}

/* Селектор атрибута */
input[type="text"] {
    border-radius: 10px;
    background-color: rgb(252, 251, 210);;
}



.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


